// Buttons
.btn{
    border-radius:0;
    min-height:24px;
    padding:0.5rem .75rem;
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;

    &:active,&:hover{
        cursor: pointer;
    }

    &-white{
        background-color:$white;
        color:$red;
        &:hover,&:active{
            color:$red;
            // box-shadow: inset 0 0 2rem rgba($black, 0.9);
        }
    }

    &-layered{
        @include btn-layered;
    }
    &-layered-purple{
        @include btn-layered(rgba($purple,0.5))
    }

    @media(min-width:$xl) {
        padding:0.688rem;
    }

}

.about-btn{
    @extend .btn, .btn-white, .text-red, .btn-block;
    @include btn-layered;
    @media(min-width:$xl){
        width:80%;
        margin: 0 auto;
    }
}

.btn-purple{
    background-color: $purple;
    color:$white;
    &:hover,&:active{
        background-color: darken($purple,5%);
        color:$white;
        // font-weight: normal;
    }
}

.btn-red{
    background-color: $red;
    color:$white;
    &:hover,&:active{
        background-color: darken($red,5%);
        color:$white;
        font-weight: normal;
    }
}

.btn-outline-red{
    border:1px solid $red;
    color:$red;
    background-color:transparent;

    &#paid-for{
        &:hover,&:active{
            cursor: default;
        }
    }
}

.btn-emoji-rose{
    @include insert-emoji($rose-emoji);
}
//End buttons