
@keyframes democracy{
    0%{
        left:-100px;
    }
    100%{
        left:0;
    }
}
.democracy-voucher-alert{
    @extend .front;
    display: none;
    @media(min-width:1400px){
        display: block;
        position:fixed;
        bottom:-7px;
        left:0; 
        animation: democracy 1s;
        transform:0;
        transition: transform 0.5s;
        &:hover{
            cursor: pointer;
            transform: rotate(0.015turn) translateX(5px);
        }
    }

}

#default-outreach{
    background-image: url('../../assets/img/cool-shaun.jpg');
    background-size: cover;
    background-position:center;
    padding-top: 18rem;
    @media(min-width:$md){
        padding-top:18rem;
    }
    @media(min-width:$lg){
        padding-top: 24rem;
    }
    @media(min-width:$xl){
        background-position: 0 0;
        padding-top: 30rem;
    }

}
#header{
    position: relative;
    overflow:hidden;
    background-color: $red;
    background-image: url(../img/cityscape-drawing.png);
    background-position:0 center;
    background-size: 275%;
    @media(min-width:370px){
        background-size: 303%;
    }
    @media(min-width:$sm){
        background-size: 120%; 
        background-position: 0 65%;  
    }
    background-repeat: no-repeat;
    background-blend-mode:darken;
    @media(min-width:$md){
        background-size:100%;
        background-position:bottom center;
    }
}

.header-shaun{
    &-mobile{
        @extend .d-md-none;
        display: block;
        margin: 0 auto;
        max-width:100%;
        margin-left:-5;
    }
    display: none;
    position: absolute;
    left:0;
    bottom:0;

    @media(min-width:$md){
        display: block;
        max-width:70%;
        left:-12%;
    }
    @media(min-width:$lg){
        max-width:50%;
        left:5%;
        top:10%;
        margin-bottom: 0; 
    }
    @media(min-width:$xl){
        max-width: 60%;
        left:5%;
        top:1rem;
        margin-bottom: 0; 
    }
    @media(min-width:$xxl){
        max-width: 40%;
        left:15%;
        top:4rem;
    }
}
.col-logo{
    @extend 
    .col-8, 
    .offset-2, 
    .col-md-3,  
    .col-lg-2, 
    .offset-lg-0;
    
    @media(min-width:$md){
        margin-left: 38%;
    }

    @media(min-width:$lg){
        margin-left: 0;
    }
}
.img{
    &-logo{
        @extend .img-fluid;
        max-width: 75%;
        transform:0;
        box-shadow:0;
        border-radius:100%;
        transition:transform 0.25s ease;
        //  box-shadow 0.3s;
        &:hover{
            transform: scale(1.015);
        }
        &:active{
            transform: scale(0.95);
        }
        display: block;
        margin: 0 auto 2rem;
        margin-bottom:2rem;
        @media(min-width:$md){
            max-width: 100%;
            display: inline-block;
            margin-bottom: 0;
            
        }
    }
    &-emoji{
        height:1.25rem;
        display: inline;
        width:1rem;
        margin-right: 0.3rem;
        margin-bottom: 0.1rem;
        @media(min-width:$md){
        }
    }
    &-paid-for-by{
        position: relative;
        // left:50vw;
        display: block;
        margin: 0 auto;
        padding-bottom: 0;
        bottom:0;
    }
}




