// @import '../../node_modules/bootstrap/scss/functions.scss';
// @import '../../node_modules/bootstrap/scss/functions.scss';
// @import '../../node_modules/bootstrap/scss/variables.scss';
// @import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
// @import '../../node_modules/bootstrap/scss/_forms.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'partials/variables.scss';
@import 'mixins/mixins.scss';
@import 'partials/utilities.scss';
@import 'partials/typography.scss';
@import 'partials/forms.scss';
@import 'partials/nav.scss';
@import 'partials/modules.scss';
@import 'partials/new-site.scss';
*{
    margin: 0;
    padding: 0;
}
.center-line{
    height:100%;
    border:2px solid yellowgreen;
    position:absolute;
    left:50%;
    z-index:2000000000000;
}
// body{
//     position: relative;
// }

#header{
    background-color: $red;
    padding-top: 1rem;
    padding-bottom:2rem;  
    @media(min-width:$md){
        padding-top:2rem;
        padding-bottom:4rem;
    }
    @media(min-width:$xl){
        padding-bottom: 10rem;
    }
    p{
        color:$white;
    }  
}

.col-header-content{
    @extend .col-lg-6, .offset-lg-4, .front;
    @media(min-width:$md){
        padding:4rem 0 0 0;
    }
}


footer{
    background-color:$purple;
    color:$white;
    padding:3rem 0 0 0;
    @media(min-width:$md){
        padding:4rem 0 0 0;
    }
    @media(min-width:$lg){
        padding:4rem 4rem 0 4rem;
    }

    a{
        color:$white;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        &:hover,&:active{
            cursor: pointer;
            color:$red;
        }
    }
}




section{
    padding:4rem 1rem;
    width:100%;
    @media(min-width:$lg){
        padding:4rem auto 4rem auto;
    }
}

@media(min-width:$lg){

}
@media(min-width:$xl){

}








// // Forms
// .form-control{
//     background-color:$white;
//     border:none;
//     // padding:0;
//     border-radius: 0;
// }



